<h1>Home#landing</h1>
<p>Find me in app/views/home/landing.html.erb</p>

<b>total budget:</b> <%= calc_total(@user) %>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<div id="container" style="width: 100%; height: 100%"></div>

<ul>
<% @friends.each do |friend| %>
	<li>budget for <%= friend.name %>: <i><%= friend.budget %></i></li>
<% end %>
</ul>

<hr>

<b>total spent:</b> <%= calc_spent(@user) %>

<ul>
<% @friends.each do |friend| %>
	<li>money spent on <%= friend.name %>: <i><%= calc_spent(friend) %></i>
		<% friend.gifts.each do |gift| %>
			<br>-- <%= gift.title %> (<i><%= gift.price %></i>)
		<% end %>
	</li>
<% end %>
</ul>

<hr>

<b>remaining budget:</b> <%= calc_remaining(@user, calc_total(@user)) %>

<ul>
<% @friends.each do |friend| %>
	<li>remaining budget for <%= friend.name %>: <i><%= calc_remaining(friend, friend.budget) %></i></li>
<% end %>
</ul>

<script>
	window.onload = function() {

	var chart = new CanvasJS.Chart("chartContainer", {
		// animationEnabled: true,
		// title: {
		// 	text: "Desktop Search Engine Market Share - 2016"
		// },
		data: [{
			type: "pie",
			startAngle: 240,
			yValueFormatString: "##0.00\"%\"",
			indexLabel: "{label} {y}",
			dataPoints: [
				<% @friends.each do |friend| %>
					{y: <%= calc_spent(friend) %>, label: "<%= friend.name %>"},
				<% end %>
			]
		}]
	});
	chart.render();

	}
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<!-- <script>
	var data = [];
	<% @friends.each do |friend| %>
		console.log("<%= friend.name %>");
		data.push({x: "<%= friend.name %>", value: <%= calc_spent(friend) %>});
	<% end %>
	anychart.onDocumentReady(function() {
	  var chart = anychart.pie();
	  chart.data(data);
	  chart.container('container');
	  chart.draw();
	});
</script> -->