<h1>Gifts#new</h1>
<p>Find me in app/views/gifts/new.html.erb</p>

<%= form_for @gift do |f| %>

	what is it? <%= f.text_field :title %>
	<br>
	how much did it cost? <%= f.number_field :price %>
	<br>
	who is it for?

	<%= select_tag(:friend_id, options_from_collection_for_select(@friends, 'id', 'name')) %>

	<p>

	<%= f.submit "create" %>

<% end %>