<!DOCTYPE html>
<html>
  <head>
    <title>Gifter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
      <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <a rel="nofollow" data-method="delete" href="/users/sign_out">logout</a>
    <% end %>
    <div id="checkTest">hello</div>
    <% if flash[:notice] %>
      <%= flash[:notice] %><p>
    <% end %>
    <%= yield %>
  </body>
</html>