<!DOCTYPE html>
<html>
  <head>
    <title>Gifter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <a rel="nofollow" data-method="delete" href="/users/sign_out">logout</a>
    <% end %>
    <% if flash[:notice] %>
      <%= flash[:notice] %><p>
    <% end %>
    <%= yield %>
  </body>
</html>